* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgba(10, 118, 128, 255), rgba(57, 72, 129, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
}

.titleP {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.questionP {
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

.buttonsDiv {
    margin-bottom: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.btn {
    color: white;
    background-color: rgb(44, 55, 109);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    min-width: 70px;
    min-height: 30px;
    white-space: nowrap;
}

.NextQuestionDiv{
    width: 90%;
    align-items: start;
}

.correctAnswersP{
    display: none;
    text-align: center;
    font-size: 30px;
}