:root {
    --background-gradient: linear-gradient(to right, rgba(10, 118, 128, 255), rgba(57, 72, 129, 255));
    --container-bg-color: white;
    --container-box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    --text-color: black;
    --btn-bg-color: rgb(44, 55, 109);
    --btn-text-color: white;
    --timer-color: gray;
    --timer-opacity: 0.3;
}

:root.dark-theme {
    --background-gradient: linear-gradient(to right, rgba(20, 20, 20, 255), rgba(50, 50, 50, 255));
    --container-bg-color: #333;
    --container-box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.8);
    --text-color: white;
    --btn-bg-color: rgb(70, 70, 70);
    --btn-text-color: white;
    --timer-color: gray;
    --timer-opacity: 0.5;
}

*{
    margin: 0;
}

body {
    background: var(--background-gradient);
}

.quiz-container {
    background-color: var(--container-bg-color);
    box-shadow: var(--container-box-shadow);
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border-radius: 10px;
}

.quiz-title, 
.quiz-question {
    color: var(--text-color);
    text-align: center;
}

.quiz-title{
    min-height: 100px;
    font-size: 35px;

}

.quiz-question{
    min-height: 100px;
    font-size: 25px;
}

.timer {
    color: var(--timer-color);
    opacity: var(--timer-opacity);
    font-size: 20px;
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    min-width: 50px;
    min-height: 30px;
    white-space: nowrap;
    margin: 10px;
}

main {
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: end;
}

.answers-wrapper {
    width: 90%;
    min-height: 190px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-question-wrapper {
    width: 90%;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.submit-question-btn{
    visibility: hidden;
}

.restart-quiz-btn {
    display: none;
    margin-bottom: 30px;
}

.results-message {
    color: var(--text-color);
    display: none;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}